[submodule "httpd-2.2.x"]
	path = httpd-2.2.x
	url = git://github.com/haggaie/httpd.git
[submodule "httpd-2.2.x.no-transactions"]
	path = httpd-2.2.x.no-transactions
	url = git://github.com/haggaie/httpd.git
[submodule "man"]
	path = man
	url = git://github.com/haggaie/man.git
[submodule "doc"]
	path = doc
	url = git://github.com/haggaie/stm_project_docs.git
